.my-footer {
  background-color: #343a40;
  margin-top: 2em;
  padding: 1em;
  color: lightskyblue;
  font-size: 90%;
}

.room-image {
  max-width: 50%;
}

.notieContainer {
  box-shadow: none;
}

.datepicker {
  z-index: 10000;
}
