{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the homepage</h1>
                <p>This is some text</p>
                <img src="/static/img/house.jpg" height="320" width="640">
            </div>
        </div>
    
    </div>
{{end}}

<!-- 
    <span>Photo by <a href="https://unsplash.com/@sammanns94?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Sam Manns</a> on <a href="https://unsplash.com/s/photos/ski-resort?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
    
    <span>Photo by <a
        href="https://unsplash.com/@chshashi30?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Shashi
        Ch</a> on <a
        href="https://unsplash.com/s/photos/coffee-tray?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span> -->